body {
  padding-top: 50px;
  background-image: url('resources/docs/assets/img/BlankMap-World6.png');
  background-repeat:no-repeat;
  background-attachment:scroll;
  background-color:transparent;
  background-size:contain;
  background-position:top center;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}
#menu{
    list 
}
.heading{
    font-family: 'Cabin Condensed', sans-serif;
    color:maroon;
}
.destacado{
    color:blue;
}
.personal{
    font-family: 'Dancing Script', cursive;
    font-size: xx-large;
}